

<section class="header-primair">
  <nav>   
      <img src="images/plantswap-logo-green.png" alt="Logo PlantSwap">
      <ul>
          <li><a href="#over-ons">Over Ons</a></li>
          <li><a href="#onze-stekjes">Stekjes</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="/newStekje">Stekje Aanmelden</a></li>
      </ul>   
  </nav>
</section>
<section>
  <h4> <%= stekje.naam %> </h4>
  <p> <%= stekje.aanmelddatum %> </p>
</section>