/* --GLOBAL-- */

:root {
  --primary: #4E7141;
  --secondary: #333467;
  --tertiary: #F26F21;
  --primary-font-color: #818181;
}

* {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: var(--primary-font-color);
  background-color: white;
}

html{
  scroll-behavior: smooth;
}

h1{
  font-size: 2.5rem;
  color: var(--primary);
  display: flex;
  flex-direction: column;
}

h2{
  font-size: 2rem;
  color: var(--primary);
}

h3{
  font-size: 1.2rem;
  color: var(--primary-font-color);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 100;
}

p{
  font-size: 1rem;
  color: var(--primary-font-color);
  line-height: 1.8rem;
}

/* HEADER INDEX 1 */

.header-secundair > nav > img{
  width: 8em;
  height: 3.5em;
}

.header-secundair > nav{
  padding: 3rem 0rem 0rem 3rem;
}

.header-secundair ul{
  display: flex;
  list-style-type: none;
  gap: 3rem;
  margin-top: 1rem;
  padding: 0;
}

.header-secundair a{
  color: var(--primary-font-color);
  text-decoration: none;
}

.header-secundair a:hover{
  color: var(--tertiary);
}

/* HEADER INDEX 2 */

.header-primair > nav > img{
  width: 8em;
  height: 3.5em;
}

.header-primair > nav{
  padding: 3rem 0rem 0rem 3rem;
}

.header-primair ul{
  display: flex;
  list-style-type: none;
  gap: 3rem;
  margin-top: 1rem;
  padding: 0;
}

.header-primair a{
  color: var(--primary-font-color);
  text-decoration: none;
}

.header-primair a:hover{
  color: var(--tertiary);
}

/* FORM STEKJE AANMELDEN  */

#send-button{
  background-color: var(--primary);
  color: white;
  padding: 0.7rem 1.5rem 0.7rem 1.5rem;
  border-radius: 25px;
  border: solid 1px var(--primary);
  text-decoration: none;
  max-width: 10rem;
  font-size: 1rem;
  cursor: pointer;
}

#send-button:hover{
  background-color: var(--tertiary);
  border: solid 1px var(--tertiary);
  transition: ease-in 0.2s;
}

/* INDEX 1  */

.intro-contain{
  padding-left: 3rem;
  animation: slide-in 1.2s ease-in-out forwards;
}

@keyframes slide-in {
  from {
    margin-top: 100%;
  }

  to {
    margin-bottom: 0;
  }
}

.intro-contain > p{
  padding-bottom: 3rem;
  max-width: 30rem;
}

.intro-contain > a:nth-child(3){
  background-color: var(--primary);
  color: white;
  padding: 0.7rem 1.5rem 0.7rem 1.5rem;
  border-radius: 25px;
  border: solid 1px var(--primary);
  text-decoration: none;
}

.intro-contain > a:nth-child(4){
  background-color: white;
  color: var(--primary);
  padding: 0.7rem 1.5rem 0.7rem 1.5rem;
  border-radius: 25px;
  border: solid 1.5px var(--primary);
  text-decoration: none;
}

.intro-contain > a:nth-child(3):hover{
  background-color: var(--tertiary);
  border: solid 1px var(--tertiary);
  transition: ease-in 0.2s;
}

.intro-contain > a:nth-child(4):hover{
  background-color: var(--tertiary);
  border: solid 1.5px var(--tertiary);
  color: white;
  transition: ease-in 0.2s;
}

.slide-image-right > img{
  display: none;
}

.blue-points{
  position: absolute;
  top: 20rem;
  left: 0;
}

.new-collection-contain{
  position: relative;
  padding: 3rem 0rem 0rem 0rem;
}

.new-collection-contain > h3{
  padding-bottom: 1rem;
}

.new-collection-contain > div{
  padding-bottom: 1rem;
}

.image-plant-wrapper{
  width: 200px;
  height: 200px;
}

.image-plant{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.new-collection-contain h4{
  color: var(--secondary);
  max-width: 200px;
}

.new-collection-contain p{
  font-weight: 100;
  margin-top: -1rem;
  padding-bottom: 2rem;
}

.blue-points-stroke{
  position: absolute;
  bottom: 0;
  right: 0;
}

/* INDEX 2 */

.about-us-contain{
  padding: 3rem;
  animation: slide-in 1.2s ease-in-out forwards;
}

@keyframes slide-in {
  from {
    margin-top: 100%;
  }

  to {
    margin-bottom: 0;
  }
}

.about-us-contain > img{
  padding-top: 1rem;
  width: 100%;
}

.collection-contain{
  background-color:  var(--secondary);
  padding: 3rem;
}

.collection-contain h2{
  color: white;
  padding-bottom: 1rem;
}

.collection-contain p{
  color: white;
  padding-bottom: 3rem;
  font-weight: 100;
  margin-top: -1rem;
}

.collection-contain h4{
  color: white;
  max-width: 200px;
}

.white-points{
  position: absolute;
  top: 70rem;
  left: 0;
}

.contact-contain{
  position: relative;
  padding: 3rem;
}

.blue-points-2{
  position: absolute;
  bottom: 40rem;
  left: 0;
}

.blue-points-stroke-small{
  position: absolute;
  bottom: 0;
  right: 0;
}

.contact-facts{
  padding-top: 5rem;
}

.contact-facts p{
  display: flex;
  flex-direction: column;
}

/* STEKJE */

.plant-info{
  padding: 3rem;
}

.plant-info div{
  margin-bottom: 3rem;
}

.plant-info h2{
  margin-top: -1rem;
}

.plant-info > div > p{
  margin-bottom: 2rem;
}

.plant-info a{
  background-color: var(--primary);
  color: white;
  padding: 0.7rem 1.5rem 0.7rem 1.5rem;
  border-radius: 25px;
  border: solid 1px var(--primary);
  text-decoration: none;
}

.plant-info a:hover{
  background-color: var(--tertiary);
  border: solid 1px var(--tertiary);
  transition: ease-in 0.2s;
}

.svg-wrapper{
  width: 100%;
  overflow: hidden;
  margin-bottom: 1rem;
}

.blue-points-stroke-horizontal{
  object-fit: cover;
}

.plant-info-detail-contain{
  padding: 3rem 3rem 5rem 3rem;
  background-color: var(--secondary);
}

.plant-info-detail-contain h4{
  color: white;
}

.plant-info-detail-contain h4{
  padding-top: 2rem;
  color: white;
}

.plant-info-detail-contain li{
  color: white;
}

/* CONTACT FORM  */

.contact-form{
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--primary);
  font-weight: bold;
}

.contact-form [type=text]{
  padding: 1rem;
  border-radius: 25px;
  margin: 0.5rem 0rem 2rem 0rem;
  border: solid 1.5px var(--primary);
  font-size: 1rem;
}

.contact-form input:last-of-type{
  padding: 1rem 8rem 8rem 1rem;
}

.contact-form > label{
  font-size: 1.2rem;
  text-align: left;
  padding-bottom: 0.5rem;
}

/* STEKJE AANMELDEN */

fieldset{
  border: none;
}

.sign-up-plant-contain{
  position: relative;
  padding: 2rem 2rem 10rem 2rem;
  animation: slide-in 1.2s ease-in-out forwards;
}

@keyframes slide-in {
  from {
    margin-top: 100%;
  }

  to {
    margin-bottom: 0;
  }
}

.sign-up-plant-contain h3{
  padding-top: 2rem;
}

.sign-up-plant-contain p{
  font-weight: 100;
}

.sign-up-form div{
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--primary);
  font-weight: bold;
}

.sign-up-form [type=text]{
  padding: 1rem;
  border-radius: 25px;
  margin: 0.5rem 0rem 2rem 0rem;
  border: solid 1.5px var(--primary);
  font-size: 1rem;
}

.sign-up-form label{
  font-size: 1.2rem;
  text-align: left;
  padding-bottom: 0.5rem;
}

.blue-points-stroke-3{
  position: absolute;
  right: 0;
  bottom: 0;
}

/* ANIMATIE */

.reveal{
  position: relative;
  transform: translateY(150px);
  transition: 1s all ease;
  opacity: 1;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}


/* BREAKPOINTS */


@media (min-width:60rem){

  h1{
    font-size: 4rem;
  }
  
  h2{
    font-size: 3.5rem;
  }
  
  h3{
    font-size: 1.4rem;
  }
  
  p{
    font-size: 1.2rem;
    line-height: 2rem;
  }

  /* HEADER - INDEX 1  */

  .header-secundair > nav{
    display: flex;
    justify-content: space-between;
    padding-left: 8.5rem;
  }

  .header-secundair > nav > ul{
   padding-top: 1rem;
  }

  .header-secundair li:last-child > a{
    background-color: var(--tertiary);
    padding: 0.7rem 1.5rem 0.7rem 1.5rem;
    border: solid 1.5px var(--tertiary);
    border-radius: 25px;
    color: white;
  }

  .header-secundair li:last-child > a:hover{
    background-color: white;
    color: var(--tertiary);
    border: solid 1.5px var(--tertiary);
    transition: ease-in 0.2s;
  }

  /* INDEX 1 */

  .wrapper-contain{
    display: flex;
    justify-content: space-between;
  }

  .intro-contain{
    padding: 1rem 0rem 0rem 8rem;
  }

  .intro-contain > p{
    margin-top: -2rem;
  }

  .new-collection-contain > div{
    display: flex;
    text-align: center;
    gap: 3rem;
  }

  .new-collection-contain h4{
    font-size: 1.1rem;
  }

  .new-collection-contain p{
    font-size: 1.1rem;
  }

  .slide-image-right{ 
    position: relative;
  }

  .slide-image-right > img{
    display: block;
    margin-top: -5rem;
  }

  .blue-points-stroke{
    position: absolute;
    bottom: 0;
    left: -51px
  }

  /* INDEX 2  */

  .header-primair > nav{
    display: flex;
    justify-content: space-between;
    padding-left: 8.5rem;
  }

  .header-primair > nav > ul{
   padding: 1rem 8.5rem 0rem 0rem;
   gap: 7rem;
  }

  .header-primair li:last-child > a{
    background-color: var(--tertiary);
    padding: 0.7rem 1.5rem 0.7rem 1.5rem;
    border: solid 1.5px var(--tertiary);
    border-radius: 25px;
    color: white;
  }

  .header-primair li:last-child > a:hover{
    background-color: white;
    color: var(--tertiary);
    border: solid 1.5px var(--tertiary);
    transition: ease-in 0.2s;
  }

  .about-us-contain{
    display: flex;
    padding: 8rem;
    gap: 5rem;
  }

  .about-us-contain img{
    max-width: 40rem;
    max-height: 30rem;
    padding-top: 4rem;
  }

  .collection-contain{
    padding: 8rem;
  }

  .collection-contain > p{
    max-width: 40rem;
    padding-bottom: 5rem;
  }

  .collection-contain > div{
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
  }

  .collection-contain > div{
    text-align: center;
  }

  .collection-contain > div > div > p{
    font-size: 1.1rem;
  }

  .contact-contain{
    display: flex;
    padding: 5rem 8rem 5rem 8rem;
  }

  .contact-form{
    padding: 3rem 0rem 0rem 0rem;
    max-width: 40rem;
  }

  .contact-facts{
    padding: 9rem 0rem 0rem 10rem;
  }

  /* STEKJE */

  .contain-wrap{
    position: relative;
  }

  .plant-info{
    margin: 3rem 0rem 0rem 43rem;
    max-width: 40rem;
  }

  .blue-points-stroke-hoirzontal{
    position: absolute;
    right: 0;
  }

  .image-plant-wrapper-detail{
    position: absolute;
    top: 20%;
    left: 7.5rem;
    width: 500px;
    height: 500px;
    border: solid 15px white;
    border-radius: 25px;
    background-color: white;
  }

  .plant-info-detail-contain{
    margin-top: 3rem;
    padding-bottom: 10rem;
  }

  .plant-info-detail{
    width: 100%;
    display: flex;
    gap: 5rem;
    padding-left: 43rem;
    max-width: 40rem;
    list-style-type: none;
  }

  /* STEKJE AANMELDEN */

  .sign-up-plant-contain{
    padding: 5rem 8rem 5rem 8rem;
  }

  .sign-up-form{
    display: flex;
  }

  .person-facts{
    width: 50%;
    padding-bottom: 43rem;
  }

  .plant-facts{
    max-width: 60%;
    padding-right: 5rem;
  }

  .plant-facts{
    width: 100%;
    padding-left: 10rem;
  }
}